<aside class="sidebar">
    <div class="sidebar__brand">
        <div class="brand__icon">FH</div>
        <div class="brand__name">FilamentHub</div>
    </div>
    <nav class="sidebar__nav">
        <a class="nav__item {% if active_page == 'dashboard' %}nav__item--active{% endif %}" href="/">Dashboard</a>
        <a class="nav__item {% if active_page == 'spools' %}nav__item--active{% endif %}" href="/spools">Spulenverwaltung</a>
        <a class="nav__item requires-ams {% if active_page == 'ams' %}nav__item--active{% endif %}" href="/ams">AMS Übersicht</a>
        <a class="nav__item {% if active_page == 'ams-lite' %}nav__item--active{% endif %}" href="/ams-lite">AMS Lite</a>
        <a class="nav__item {% if active_page == 'mmu_klipper' %}nav__item--active{% endif %}" href="/mmu-klipper">MMU-Klipper</a>
        <a class="nav__item {% if active_page == 'externe_spule' %}nav__item--active{% endif %}" href="/externe-spule">Externe Spule</a>
        <a class="nav__item {% if active_page == 'materials' %}nav__item--active{% endif %}" href="/materials">Spulen Hersteller</a>
        <a class="nav__item {% if active_page in ['printers', 'printers-modern'] %}nav__item--active{% endif %}" href="/printers">Druckerverwaltung</a>
        <a class="nav__item {% if active_page == 'jobs' %}nav__item--active{% endif %}" href="/jobs">Druckaufträge</a>
        <a class="nav__item {% if active_page == 'statistics' %}nav__item--active{% endif %}" href="/statistics">Statistiken</a>
        <a class="nav__item {% if active_page == 'lexikon' %}nav__item--active{% endif %}" href="/lexikon">Lexikon</a>
        <a class="nav__item {% if active_page == 'material-database' %}nav__item--active{% endif %}" href="/material-database">Material-Datenbank</a>
        <a class="nav__item {% if active_page == 'history' %}nav__item--active{% endif %}" href="/history">📊 History</a>
    </nav>
    <div class="sidebar__footer">
        <div class="foot-label" id="sidebarVersion">FilamentHub V1.6</div>
        <div class="foot-desc"></div>
    </div>
</aside>


